.date-filter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0 0 0px 0;
  align-items: center;
}

/* El resto del CSS se mantiene igual */
.date-filter-group {
  display: flex;
  gap: 0.5rem;
}

.filter-dropdown {
  position: relative;
  flex: 1;
}

.date-filter-button {
  width: 120%;
  padding: 0.5rem 1rem;
  font-size: 24px;
  color: var(--color-letra);
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-filter-button:hover {
  background-color: var();
}

.dropdown-content-year {
  position: absolute;
  top: 100%;
  left: -130px;
  margin-top: 0.5rem;
  background-color: transparent;
  border-bottom: 4px solid var(--color-naranja-principal);
  border-radius: 20px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 240px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(60px);
}

.dropdown-content-month {
  position: absolute;
  top: 100%;
  right: -100px;
  margin-top: 0.5rem;
  background-color: transparent;
  border-bottom: 4px solid var(--color-naranja-principal);
  border-radius: 20px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 240px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(60px);
}

.dropdown-item {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 0px;
  font-size: 1rem;
  color: var(--color-letra);
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}


.dropdown-item:hover {
  color: var(--color-naranja-principal);
}

.icon-small {
  width: 16px;
  height: 16px;
  padding-top: 4px;
}