.date-filter-container {
  justify-content: space-around;
  display: flex;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.toggle-button {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 40px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: var(--color-naranja-background);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #003399;

}

.date-filter-content {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #ffffff;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.date-filter-group {
  margin-bottom: 15px;
}

.date-filter-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #0047ba;

}

.date-filter-scroll {
  display: flex;
  gap: 10px;
}

.scroll-selector {
  width: 100px;
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;

}

.scroll-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scroll-item {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  color: #0047ba;

}

.scroll-item:hover {
  background-color: #ff9012;

  color: #ffffff;

}

.scroll-item.selected {
  background-color: #0047ba;

  color: #ffffff;

}

.date-filter-button {
  padding: 10px;
  background-color: #ff9012;

  color: #ffffff;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.date-filter-button:hover {
  background-color: #e68000;

}

.date-filter-container button:hover {
  background-color: #002f7a;
}