@font-face {
  font-family: "montserrat-thin";
  src: url("./assets/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-extralight";
  src: url("./assets/fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-light";
  src: url("./assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("./assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-extrabold";
  src: url("./assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat-black";
  src: url("./assets/fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: "montserrat-regular", Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--color-letra);
  background-color: var(--background-color-principal);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /*Colors*/
  --background-color-light: white;
  --background-color-light-05: rgba(255, 255, 255, 0.5);
  --background-color-dark: rgb(30, 30, 30);
  --background-color-dark-05: rgba(94, 94, 94, 0.2);
  --color-light: rgba(30, 30, 30);
  --color-dark: rgba(255, 255, 255);
  --color-barras: rgb(66, 28, 4);
  --color-naranja: rgb(255, 102, 0, 1);
  --color-naranja-background: rgba(255, 144, 18, 0.8);
  --color-naranja-background-2: rgb(252, 197, 138);
  --color-azul: rgba(0, 71, 184, 1);
  --color-azul-background: rgba(0, 71, 184, 0.8);
  --color-azul-background-2: rgba(152, 178, 226);
  --color-blanco: rgba(255, 255, 255, 1);
  --color-negro: rgba(0, 0, 0, 1);
  --color-placeholder-light: rgba(0, 0, 0, 0.6);
  --color-placeholder-dark: rgba(255, 255, 255, 0.6);
  --color-letra-2-light: rgba(0, 0, 0, 0.6);
  --color-letra-2-dark: rgba(255, 255, 255, 0.6);
  --color-gasto: rgba(255, 0, 0, 0.4);
  --color-ingreso: rgba(0, 128, 0, 0.4);
  --naranja-light: rgba(255, 102, 0, 0.7);
  --naranja-degradado: rgba(255, 30, 0, 0.966);
 

  /*NEW COLORS*/



  /*THEME COLORS (LOS QUE HAY USAR)*/
  --background-color-principal: var(--background-color-light);
  --background-color-principal-05: var(--background-color-light-05);
  --color-letra: var(--color-light);
  --color-letra-2: var(--color-letra-2-light);
  --color-letra-blanca: var(--color-dark);
  --color-placeholder: var(--color-placeholder-light);
  --color-naranja-principal: var(--color-naranja);
  --color-naranja-principal-background: var(--color-naranja-background);
  --color-grafico-naranja: var(--color-naranja-background);
  --color-grafico-naranja-claro: var(--color-naranja-background-2);
  --color-grafico-azul: var(--color-azul-background);
  --apartado-dinero:var(--naranja-light);
  /*Ekhilur colors - No cambiar*/


  --e-global-color-490e56ae: rgba(34, 34, 34);
  --e-global-color-58968a1c: rgba(2, 1, 1);
  --e-global-color-4879d4b4: rgba(0, 0, 0);
  --e-global-color-2db7b2b0: rgba(255, 255, 255);
  --e-global-typography-primary-font-family: "Noway Medium";
  --e-global-typography-primary-font-weight: normal;
  --e-global-typography-secondary-font-family: "Noway Medium";
  --e-global-typography-secondary-font-weight: normal;
  --e-global-typography-text-font-family: "Noway Regular";
  --e-global-typography-text-font-weight: normal;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500
}


body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  width: 100%;
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
}

footer {
  padding: 20px;
  background-color: #242323;
}

button {
  cursor: pointer;
  font-family: "Noway", Arial, sans-serif;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-principal: var(--background-color-dark);
    --background-color-principal-05: var(--background-color-dark-05);
    --color-letra: var(--color-dark);
    --color-letra-2: var(--color-letra-2-dark);
    --color-letra-blanca: var(--color-light);
    --color-placeholder: var(--color-placeholder-dark);
    --color-naranja-principal: var(--color-azul);
    --color-naranja-principal-background: var(--color-azul-background);
    --color-grafico-naranja: var(--color-azul-background);
    --color-grafico-naranja-claro: var(--color-azul-background-2);
    --apartado-dinero: var(--color-negro);
  }
}