.password-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input input {
    flex: 1;
    padding: 10px 40px 10px 10px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.password-input button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.465);
}

.right-side .password-input button {
    color: var(--color-letra);
}