/* Estilos generales */
.transaction-list-container {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color-principal);
}

.transaction-group-container {
    margin-bottom: 24px;
}

.transaction-group-header {
    margin-bottom: 12px;
}

.transaction-group-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-letra);
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 0;
}

/* Lista de transacciones */
.transaction-group-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.transaction-item {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-principal-05);
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.transaction-item-time {
    font-size: 14px;
    color: var(--color-letra-2);
    margin: 0;
}

.transaction-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-item-image-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.transaction-item-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding-top: 0.4rem;
    margin-right: 0.5rem;
}

.transaction-item-details {
    flex: 1;
    margin-left: 12px;
}

.transaction-item-name {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-letra);
    margin: 0;
}

.transaction-item-description {
    font-size: 14px;
    color: var(--color-letra);
    margin: 4px 0 0;
}

.transaction-item-amounts-container {
    text-align: right;
    margin-left: 0.5rem;
}

.transaction-item-amount {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-letra);
    border-radius: 5px;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin-top: 0;
}

.transaction-item-amount.positive {
    background-color: var(--color-naranja-principal-background);
    color: white;
}

.transaction-item-amount.negative {
    background-color: none;
}

.transaction-item-remaining {
    font-size: 14px;
    color: var(--color-letra-2);
    margin-top: 4px;
    padding-right: 0.3rem;
}