.container-recibidos-emitidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0px;
    gap: 10px;
    margin-bottom: 1rem;
    /* Estilos de tarjeta */
    background-color: var(--background-color-principal);
    border-radius: 20px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    box-sizing: border-box;

}

.item-recibidos-emitidos {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.label-recibidos,
.label-emitidos {
    color: var(--color-letra);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 20px;
}

.amount-recibidos,
.amount-emitidos {
    font-size: 1.2rem;
    font-weight: 500;
}

.amount-recibidos {
    color: var(--color-grafico-naranja);
    font-size: 24px;
}

.amount-emitidos {
    color: var(--color-grafico-naranja-claro);
    font-size: 24px;
}