.auth-window {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    transition: opacity 0.2s ease-out;
    overflow: hidden;
    background-color: var(--background-color-principal-05);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1rem;
}


.auth-window.fade-in {
    opacity: 1;
    /* Contenido visible */
}

.auth-window.fade-out {
    opacity: 0;
    /* Contenido invisible */
}


.auth-window header {
    background-color: transparent;
    padding: 0;
}

.auth-window header h3 {
    margin: 0;
    text-align: center;
}

.auth-window .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-window .form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-window .form-container input {
    border: none;
    background-color: var(--background-color-principal-05);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;

}

.auth-window .form-container input:focus {
    outline: 2px solid var(--color-naranja-principal);
}

.auth-window .form-container .main-button {
    font-weight: bold;
    background-color: var(--color-naranja-principal);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1rem;
    color: var(--color-blanco);
    border: none;
    font-size: 1rem;
}

.auth-window .form-container .message {
    margin: 0;
    padding: 5px;
    font-size: .8rem;
}

.message.success {
    color: rgb(60, 255, 0);
}

.message.failed {
    color: red;
}


.auth-window .form-container .password-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0;

}

.auth-window .form-container .password-data p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.auth-window .form-container .password-data .password-input {
    grid-column: span 2;
}

.auth-window .form-container button {
    background-color: transparent;
    border-radius: 8px;
    padding: 1rem;
    color: var(--color-naranja-principal);
}

.auth-window .change-form button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.auth-window .change-form button:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

    .auth-window .form-container .password-data {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 0;
    }

    .auth-window .form-container .password-data .password-input {
        grid-column: span 1;
    }
}