 
.chart-container {
    width: 100%;
    background-color: var(--background-color-principal);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    padding-bottom: 0px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.chart-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chart-content {
    flex: 1;
    min-height: 0;
    margin-bottom: 1rem;
}

/* Estilos específicos de Recharts */
.recharts-wrapper {
    width: 100% !important;
    height: 100% !important;
}

.recharts-cartesian-axis-tick-value {
    font-size: 12px;
}

.recharts-bar-rectangle {
    transition: opacity 0.2s ease-in-out;
}

.recharts-bar-rectangle:hover {
    opacity: 0.8;
}