.category-charts {
    text-align: center;
    padding: 20px;
}


.category-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
    gap: 1.8rem;
}

.category-item {
    display: flex;
    flex-direction: column;
}

.category-item>div.label {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.category-item>div.value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 20px;
}

.category-item h4 {
    margin: 0;
}

.category-item h4.label {
    text-align: left;
    font-size: 1.2rem;
}

.category-item h4.gasto {
    width: 20%;
    text-align: right;
}

/* Estilos para la barra de gasto */
.gasto-bar {
    width: 60%;
    height: 12px;
    overflow: hidden;
    margin-top: 5px;
}

.gasto-fill {
    height: 100%;
    transition: width 0.5s ease-in-out;
    border-radius: 20px;
}