.donut-chart {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.donut-chart .donut-canvas {
    height: 100%;
    width: 50%;
}

.donut-chart .legends-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.donut-chart .legends-container .legend {
    display: grid;
    grid-template-columns: 1fr 9fr;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0 10px;

}

.legend-label {
    font-family: 'montserrat-600';
}

.legend .legend-value {
    grid-column-start: 2;
    font-family: 'montserrat-700';
    font-size: 1.4rem;
}

.legend p {
    margin: 0;
    font-size: 1rem;
}