.search-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    z-index: 2;
}

.search-button {
    position: absolute;
    border: none;
    background-color: transparent;
    padding-right: 1rem;
    top: 20px;
}

.search-bar {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
}

.search-bar {
    position: absolute;
    top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 1rem 1rem;
    align-items: center;
    box-sizing: border-box;
}

/* Input de búsqueda con estilo subrayado */
.search-bar-name {
    width: 100%;
}

.search-bar-name-input-container {
    position: relative;
    width: 100%;
}

input {
    background-color: var(--background-color-principal-05);
}

.search-bar-name-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-naranja-principal);
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    font-size: 18px;
    color: var(--color-letra);
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-bar-name-input::placeholder,
.filter-input::placeholder,
.search-bar-date-input::placeholder {
    color: var(--color-placeholder);
}

.clear-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: var(--color-placeholder);
    transition: color 0.3s;
    padding-right: 0.5rem;
}

.clear-icon:hover {
    color: #555;
}

.search-bar-filters {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

/* Grupo de filtros */
.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.filter-label {
    font-size: 16px;
    color: var(--color-letra);
    font-weight: bold;
}

.filter-dates,
.filter-amounts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-bar-date-input,
.filter-input {
    border: 0.5px solid var(--color-placeholder);
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.search-bar-date-input:focus,
.filter-input:focus {
    border-color: var(--color-naranja-principal);
}