.logout-modal {
    position: absolute;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    background-color: transparent;
    top: 40px;
    right: 100px;
}

button.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color-naranja-principal);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    color:
        var(--color-blanco);
}

.logout-modal.active {
    opacity: 1;
}

.logout-modal button {
    background-color: var(--color-naranja-principal);
    border-radius: 20px;
    padding: .5rem;
    border: none;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.logout-modal button:hover {
    text-decoration: underline;
}