.logout-modal {
    position: absolute;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    background-color: transparent;
    top: 90px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.user-avatar {
    border: none;
    background: none;
    color: var(--color-naranja-principal);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

button.user-avatar:hover {
    color: var(--color-naranja-principal-background);
    transform: scale(1.1);
}

.logout-modal.active {
    opacity: 1;
    z-index: 2;
}

.logout-modal.active button {
    pointer-events: all;
}

.logout-modal button {
    background-color: var(--color-naranja-principal);
    border-radius: 20px;
    padding: .5rem;
    border: none;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.logout-modal button:hover {
    text-decoration: none;
    background-color: var(--color-naranja-principal-background);
}