.transactions-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-principal);
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.transactions-button {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'montserrat-600';
    color: var(--color-naranja-principal);
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: center;
    position: relative;
}

.transactions-button p {
    margin: 0;
    padding: 0.5rem 0;
}

.transactions-button.active {
    color: var(--color-blanco);
}

.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-naranja-principal);
    border-radius: 20px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, width 0.3s ease;
}