.user-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color-principal);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-profile-container h1 {
    text-align: center;
    color: var(--color-naranja-principal);
    margin-bottom: 20px;
}

.user-profile-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas por defecto */
    gap: 20px; /* Espacio entre los grupos de información */
}

.info-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-label {
    font-weight: bold;
    color: var(--color-naranja-principal);
}

.info-value {
    padding: 10px;
    background-color: var(--color-grafico-azul);
    border-radius: 4px;
    font-size: 16px;
    color: white;
}

/* Media query para pantallas pequeñas (una columna) */
@media (max-width: 768px) {
    .user-profile-info {
        grid-template-columns: 1fr; /* Una columna */
    }
}