.user-profile-container {
    width: 100%;
    max-width: 1200px;
    margin-left: 30px;
    padding: 20px;
    background-color: var(--background-color-principal);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.user-profile-container h1 {
    text-align: center;
    color: var(--color-naranja-principal);
    margin-bottom: 20px;
    grid-column: 1 / -1;

}

.user-profile-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-label {
    font-weight: bold;
    color: var(--color-naranja-principal);
}

.info-value {
    padding: 10px;
    padding-left: 0;
    border-radius: 4px;
    font-size: 16px;
    color: var(--color-letra);
}

@media (max-width: 768px) {
    .user-profile-info {
        grid-template-columns: 1fr;
    }
}